<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<body>
    
</body>
</html>
<mat-dialog-content>
    Are you sure you want to delete the product "{{data.productName}}"?
</mat-dialog-content>
<mat-dialog-actions>
    <button class="btn btn-danger" mat-dialog-close="true">Delete</button>
    <button mat-button mat-dialog-close="false">No</button>
</mat-dialog-actions>
