table {
    margin-top: 15px;
    text-align: center ;
}

.container {
    width: 90%;
    margin-top: 40px;
}

.paging {
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
    user-select: none;
    padding-top: 3.5px;
    
}

.disabled {
    color: grey;
    pointer-events: none;
    cursor: default;
}

th{
    text-align: center;
    background: lightgray;
    user-select: none;
}

a {
    cursor: pointer;
}

.add-button {
    margin-right: 10px;
   
}


.amountMiddle {
    background: rgb(236, 236, 159) ;
}

.amountLow {
    background: rgb(245, 167, 167);
}

.amountEnough {
    background: rgb(195, 238, 195);
}

.roudeded-right-top-corner {
    border-top-right-radius: 10px;
}

.roudeded-left-top-corner {
    border-top-left-radius: 10px;

}
